@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                        		<#input id="id" name="ID" value="${item.id}" underline="true" readonly="readonly" />
                            <#input id="name" name="NAME" value="${item.name}" />
                </div>

                <div class="col-sm-6">
                            <#input id="description" name="DESC" value="${item.description}" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t"  style="display:${display};" >
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ChenchaoInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ChenchaoInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/system/chenchao/chenchao_info.js"></script>
@}
